{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Brand List</h1>
  {% if brand_list %}
  <ul>
    {% for brand in brand_list %}
      <li>
          {{ brand.name }}
         (<a href="{% url 'gadgets:brand_update' brand.id %}">Update</a> |
          <a href="{% url 'gadgets:brand_delete' brand.id %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no brand in the library.</p>
  {% endif %}
  <p><a href="{% url 'gadgets:brand_create' %}">Add a brand</a></p>
  <p>
    <a href="{% url 'gadgets:all' %}">Back to gadgets</a>
  </p>
{% endblock %}
